html {
  font-size: 62.5%
}

/* General */

body {
  margin: 0% auto;
  background-color: rgb(120, 88, 166);
  font-family: 'Times New Roman', Times, serif;
}

#total {
  width: 100%;
  margin: 0px auto
}

header {
  background: rgb(55, 52, 109);
  height: 60px;
  width: 100%;
  margin: 0px;
  text-align: center;
  color: white;
  border-bottom: 5px;
}

.menu {
  margin: 0 auto;
}

.imagen {
  width: 100px;
  height: 40px;
  float: left;
  padding: 8px;

}

nav {
  float: right;
  list-style: none;
}

nav ul li {
  float: left;
  list-style: none;
  margin: 10px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: medium;
}

footer {
  background: rgb(55, 52, 109);
  height: 25px;
  width: 100%;
  margin: 0px;
  text-align: center;
  color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.pie {
  width: 185px;
  margin: 5px auto
}

/* 00-Index */

#Tituloindex {
  display: block;
  position: relative;
  width: 360px;
  top: 50px;
  padding: 10px;
  margin: 10px;
  float: left;
  color: #97d848;
  font-size: 55px;
}

#Introindex {
  display: block;
  position: relative;
  width: 290px;
  top: 20px;
  padding: 10px;
  margin: 10px;
  float: left;
  color: #eddee9;
  font-size: 25px;
}

#Imagenindex {
  display: block;
  padding: 10px;
  margin: 10px;
  float: right;
  width: 250px;
  position: relative;
  top: 50%;
}

/* 01-Manga */






/* 02-Anime */





/* 03-Personajes */






/* 04-Contacto */

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  background-color: #f7e4e4;
  padding-left: 30px;
}

input {
  background-color: #ffffff;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: red;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ab4493;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}